html, body, .container
{
    height: 60%; 
     width: 60%; 
    min-height: 100%;
    align: center;
}

.first {
    float: left;
    width: 20%;
    height: 30%;
    background-color: red;
}



/* div {
    height: 100%; 
     width: 100%; 
    background: #000;
    font-size: 48px;
    font-style: oblique;
    font-color: #FFF;
    text-align: center;
    margin-top: 20px;
    margin-left: 5px;
    line-height: 90px;
} */
/* 
.products {margin-left: -40px; margin-right: -80px;}
.products ul{ list-style-type: none;}
.products ul li{ position:relative; border-top: none; padding:1px; border:solid 1px #dedede; float:left; width:280px; margin-right:10px; margin-left:5px; margin-bottom:15px; height:80px; overflow:hidden; }
.products ul li.last{ margin-right:0; }

.product-info{ position:absolute; width:282px; height:80px;  left:0;}
.product-info h3{ background:#17BAF1; color:#fff; padding:1px 6px; margin:0 0 0 0; width:100px;}
.product-info h4{ font-weight: normal;}
.product-info p{ font-size:11px; line-height:18px; color:#000; padding:0 0 0 0; margin : 0 0 0 0; margin-top : 1px;}
.product-info .product-desc{ padding:1px; padding-left :1px; width:280px; height:57px; overflow : auto;}

.cl { font-size:0; line-height:0; clear:both; display:block; height:0; }


label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

label.checkbox {
    display: inline;
}

input, textarea {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

    input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 4px;
        margin-right: 4px;
    } */